@model IEnumerable<XPTO.WebEstatica.Models.ViewModels.ParceriaViewModel>

@{
    ViewBag.Title = "Parceria listagem";
}

<h1>Listagem</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTermino)
        </th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTermino)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Codigo })
            </td>
        </tr>
    }
</table>